<section class="section-header">
  <div class="filter-video">
    <div class="video-gradient"></div>
    <video class="background-video" autoplay loop muted>
      <source src="/assets/media/landing-media.mp4">
    </video>
    <div class="video-overlay"></div>
  </div>
  <div class="section-header-content">
    <div class="section-header-description-container">
      <div class="section-header-description">
        <h1>Easily manage your transactions and invoicing</h1>
        <h2>Automatize your payment and save time</h2>
        <p>Welcome to your smarter way to manage finances.
          Easily track transactions, automate payments, and generate professional invoices — all from one simple platform.
          Spend less time on admin, and more time growing your business</p>
      </div>
      <div>
        <img class="w-[200px] md:w-[400px] rounded-[20px]" src="/assets/media/invoice.jpg" alt="invoice" style="border-radius: 20px">
      </div>
    </div>
  </div>
  <ng-content></ng-content>
</section>
