
<div class=" grid xl:grid-cols-1 grid-cols-1  gap-4 px-4">

    <div class="relative w-full flex flex-row bg-clip-border bg-white text-gray-700  overflow-hidden">
      <div class="w-full">
        <p class="block antialiased font-sans text-base font-light leading-relaxed text-blue-gray-900 !text-base !font-semibold mb-1">
          Catalog option :
        </p>
        <div class="mx-32 flex items-start gap-3">
          <div class="flex items-center gap-3">
              <div class="max-w-sm min-w-[200px]">
                <label class="block mb-1 text-sm text-slate-800">
                  Catalog
                </label>

                <div class="relative">
                  <select [value]="store.idSelectedCatalog()"
                          (change)="changeCatalogs($event)"
                          class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded pl-3 pr-8 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-400 shadow-sm focus:shadow-md appearance-none cursor-pointer">

                    @for (cat of store.catalogs(); track cat.id) {
                      <option [value]="cat.id">{{ cat.name }}</option>
                    }
                  </select>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" class="h-5 w-5 ml-1 absolute top-2.5 right-2.5 text-slate-700">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                  </svg>
                </div>

            </div>
          </div>
          <div class="max-w-sm min-w-[200px]">
            <label class="block mb-1 text-sm text-slate-800">
              Category
            </label>

            <div class="relative">
              <select [value]="store.selectedCategoryId()"
                      (change)="categoryProducts($event)"
                      class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded pl-3 pr-8 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-400 shadow-sm focus:shadow-md appearance-none cursor-pointer">
                <option [value]="NaN"> -- Choose category --</option>
                @for (cat of store.selectedCatalog()?.categories; track cat.id) {
                  <option [value]="cat.id">{{ cat.name }}</option>
                }
              </select>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" class="h-5 w-5 ml-1 absolute top-2.5 right-2.5 text-slate-700">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<hr class="my-2 border-gray-300" />
