@if(!requireCompanySelection || (requireCompanySelection && store.isSelectedCompany())){
  <div role="button"
       class="flex items-center cursor-pointer w-full p-3 leading-tight transition-all rounded-lg outline-none text-start hover:bg-gray-100 hover:bg-opacity-80 hover:text-gray-900 focus:bg-gray-50 focus:bg-opacity-80 focus:text-gray-900"
       [routerLink]="route"
       [routerLinkActive]='"bg-gray-100 text-gray-900"'
       [routerLinkActiveOptions]="{ exact: true }"
  >
    <div class="grid mr-4 place-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
           stroke="currentColor" aria-hidden="true" class="w-5 h-3">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
      </svg>
    </div>
    {{ title }}
  </div>
}
